<div class="container mt-5">
    <div class="row">

        <div class="col-md-6">
            <h2 class="text-center">Edit Product</h2>
            <form action="/admin/edit-product/{{product._id}}" method="post">
                {{!-- enctype="multipart/form-data" --}}
                <label>Name</label>

                <input type="text" name="name" id="name" class="form-control" value="{{product.name}}"
                    onkeyup="validateName()">

                <span id="names" class="text-danger"></span><br>



                {{!-- <input type="text" name="category" id="category" class="form-control" onkeyup="validCategory()"
                    value="{{product.category}}">
                <span id="categorys" class="text-danger"></span><br>
                --}}

                <label>Category</label>
                {{!-- <label for="largeSelect" class="form-label">Catogaery</label> --}}
                <select id="" name="category" class="form-select form-select-lg style=" color: black;">
                    {{#each category}}
                    <option " value=" {{this.categoryname}}">{{this.categoryname}} </option>
                    {{/each}}
                </select>

                <label>Price</label>


                <input type="text" name="pricess" id="pricess" class="form-control" value="{{product.pricess}}"
                    onkeyup="validatePrice()">
                <span id="prices" class="text-danger"></span><br>

                <label>Disscount Price</label>

                <input type="text" name="discountedprice" id="discountedprice" class="form-control"
                    value="{{product.discountedprice}}" onkeyup="validateDiscountedprice()">
                <span id="newprices" class="text-danger"></span><br>

                
                          <label hidden> Amount</label>
                       
                        <input type="text" name="price" id="price " hidden value="0" class="form-control" onkeyup="validDiscountedprice()">
                         <span  id="newprices" class="text-danger"></span><br>

                <label>Description</label>

                <input type="text" name="discription" id="discription" class="form-control"
                    value="{{product.discription}}" onkeyup="validDiscription()">
                <span id="discriptions" class="text-danger"></span><br>

                <label>Image</label>
                <input type="file" name="image" class="form-control " id="imgview" multiple onchange="viewImage(event)">
                <img src="/productimage/{{product.images.[0]}}" style="width: 100px; height: auto;">


                <button type="submit" onclick=" return validation()" class="btn btn-success mt-4"> Submit</button>


            </form>
        </div>

    </div>
</div>


<script>
    function viewImage(event) {
        document.getElementById('imgview').src = URL.createObjectURL(event.target.files[0])
    }
</script>



<script defer src="https://cdn.crop.guide/loader/l.js?c=GVVLNV"></script>





<script>
    var Name = document.getElementById('names')
    var Price = document.getElementById('prices')
    var Discription = document.getElementById('discriptions')
    var Discountedprice = document.getElementById('newprices')



    function validateName() {

        const name = document.getElementById('name').value;
        if (name == "") {
            Name.innerHTML = 'Enter your Name'
            return false
        }
        if (!name.match(/^[a-zA-Z\s-, ]+$/)) {
            Name.innerHTML = 'Numbers and symbols are not allowed'
            return false
        }
        Name.innerHTML = null
        return true
    }
    function validatePrice() {

        const price = document.getElementById('pricess').value;
        if (price == "") {
            Price.innerHTML = 'Enter your Price'
            return false
        }
        if (!pricce.match(/^\d+/)) {
            Price.innerHTML = 'number only allowed'
            return false
        }
        Price.innerHTML = null
        return true
    }
    function validDiscription() {
        alert("discripytion")
        const discription = document.getElementById('discription').value;
        if (discription == "") {
            Discription.innerHTML = 'Enter Discription'
           alert("flse")
            return false
        }
         if (!discription.match(/^[a-zA-Z\s-, ]+$/)) {
           Discription.innerHTML = 'Numbers  are not allowed'
            return false
        } 
            Discription.innerHTML = null
           alert("true")
            return true
        
    }
    function validateDiscountedprice() {

        const discountedprice = document.getElementById('discountedprice').value;
        if (discountedprice == "") {
            Discountedprice.innerHTML = 'Enter your Discouted Price'
            return false
        }
        if (!discountedprice.match(/^\d+/)) {
            Discountedprice.innerHTML = 'Numbers only allowed'
            return false
        }
        Discountedprice.innerHTML = null
        return true
    }
    function validation() {

        if (!validDiscription()   ||   !validateDiscountedprice() || !validateName() || !validatePrice() ) { 

            alert('vanooo!!!!')
            return false
        } else
            return true
    }
</script>