{{!-- <div class="row d-flex"> --}}
  <div class="container-xxl flex-grow-1 container-p-y">

    <div  class="row  ">

        {{#each products}}

        <div class="col-lg-3 col-md-6  text-center {{this.product.category}} ">
            <div class="single-product-item">
                <div class="product-image">
                    <img style="height: 200px; width: 305px;" src="/productimage/{{this.product.images.[0]}}" alt="">
                </div>
                <h5>{{this.product.name}}</h5>
                <h5>Odered Quantity : {{this.quantity}}</h5>

                <h6>{{this.product.category}}</h6>
                <p class="productprice"><span><br></span>
                <h3>{{this.product.price }}</h3></del></p>



            </div>
        </div>
        {{/each}}
       
        <div class="col-lg-3 col-md-6 ">
            <div class="order-details-wrap">
                <table class="order-details">
                    <thead>
                        <tr>
                            <th>Your order Details</th>
                            <th>Price</th>
                        </tr>
                    </thead>

                    <tbody class="checkout-details"> 
                        {{#each orders}}
                        <tr>
                            <td>Products Total</td>
                            <input type="text" name="total_amount" class="form-control" value="{{total_amount}}" hidden>
                            <td>{{total_amount}} Rs</td>
                        </tr>
                        {{!-- <tr>
                            <td>Delivery charge</td>
                            <td>45 Rs</td>
                        </tr> --}}
                        <tr>
                            {{#if coupon_amount}}
                        <tr class="total-data">
                            <td><strong> Coupon discount </strong></td>
                            <input type="text" name="coupon_amount" class="form-control" value="{{coupon_amount}}" hidden>
                            <td id="coupondiscount"><i class="fa-solid fa-indian-rupee-sign"></i> {{coupon_amount}} Rs</td>

                        </tr>
                        {{/if}}
                        {{#if referal }}
                        <tr class="total-data">
                            <td><strong>Referral Offer </strong></td>
                            <td id="referral"><i class="fa-solid fa-indian-rupee-sign"></i> 50 Rs
                            </td>

                        </tr>
                        {{/if}}

                        </tr>
                        <tr>
                            <td>Sub Total</td>
                            
                            <td>{{totalAmount}} Rs</td>
                        </tr>
                        </form>
                    </tbody>

                </table>

            </div>
        </div>
        {{/each}}
    </div>

</div>
<style>
    body {
       
        color: #1a202c;
        text-align: left;
        background-color: rgb(176, 166, 166);
    }
    .td{
        padding: 14px;
    }
</style>