{{!-- <div " {{ date}} {{a}}{{b}} {{dailycount}} {{YearlySales}}" hidden>
    .
</div>
<div class=" d-flex">
    <div class="col-md-6 col-lg-4 order-1 mb-4 mt-5">
        <div class="card h-100 ">

            <div class="card-body px-0">
                <div class="tab-content p-0">
                    <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
                        <div class="card-header d-flex align-items-center justify-content-between">

                            <h5 class="card-title m-0 me-2">Sales Report </h5>
                        </div>
                        <br>
                        <div>
                            <canvas id="myChart"></canvas>
                        </div>

                        <div class="d-flex justify-content-center pt-4 gap-2">
                            <div class="flex-shrink-0">
                                <div id="expensesOfWeek"></div>
                            </div>
                            <div>
                                <p class="mb-n1 mt-1"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <div class="col-md-6 col-lg-4 order-1 mb-4 mt-5">
        <div class="card h-100 ">

            <div class="card-body px-0">
                <div class="tab-content p-0">
                    <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
                        <div class="card-header d-flex align-items-center justify-content-between">

                            <h5 class="card-title m-0 me-2">Sales Report </h5>
                        </div>
                        <br>
                        <div>
                            <canvas id="mChart"></canvas>
                        </div>

                        <div class="d-flex justify-content-center pt-4 gap-2">
                            <div class="flex-shrink-0">
                                <div id="expensesOfWeek"></div>
                            </div>
                            <div>
                                <p class="mb-n1 mt-1"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const data = {

        labels: ["a", "b"]
        datasets: [{
            label: 'sales',
            data: [{{ dailycount }}],
        backgroundColor: [
            'rgba(255, 99, 132, 10)',
            'rgba(54, 162, 235, 20)',
            'rgba(255, 206, 86, 20)',
            'rgba(75, 192, 192, 30)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 0, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
    }]

  };
    //config

    const config2 = {

        type: 'bar',
        data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };
    //render init board

    const myChart = new Chart(
        document.getElementById('myChart'),
        config2
    );

</script>--}}
{{!--
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/admin/sales-report",
            method: "get",
            success: async (chartDatas) => {
                console.log(chartDatas);
                const ctx = document.getElementById("myChart3").getContext("2d");
                const myChart3 = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: chartDatas.date,
                        datasets: [
                            {
                                label: "daily Sales Report",
                                data: chartDatas.dailyAmt,
                                backgroundColor: [
                                    "rgba(255, 99, 132, 0.2)",
                                    "rgba(54, 162, 235, 0.2)",
                                    "rgba(255, 206, 86, 0.2)",
                                ],
                                borderColor: [
                                    "rgba(40, 100, 255, 1)",
                                    "rgba(255, 99, 132, 1)",
                                    "rgba(255, 206, 86, 1)",
                                    "rgba(75, 192, 192, 1)",
                                    "rgba(153, 102, 255, 1)",
                                    "rgba(255, 159, 64, 1)",
                                ],
                                borderWidth: 1,
                            },
                        ],
                    },
                    options: {
                        scales: {
                            y: {
                                title: {
                                    color: 'black',
                                    display: true,
                                    text: 'amount'
                                },
                                beginAtZero: true,
                            },
                            x: {
                                title: {
                                    color: 'black',
                                    display: true,
                                    text: 'per day'
                                },
                                beginAtZero: true,
                            },
                        },
                    },
                });
                const ctxx = document.getElementById("myChart4").getContext("2d");
                const myChart4 = new Chart(ctxx, {
                    type: "line",
                    data: {
                        labels: chartDatas.month,
                        datasets: [
                            {
                                label: "Monthly Sales Report",
                                data: chartDatas.monthlyAmount,
                                backgroundColor: [
                                    "rgba(255, 30, 100, 1)",
                                    "rgba(54, 100, 235, 1)",
                                    "rgba(255, 106, 86, 1)",
                                    "rgba(0, 192, 192, 1)",
                                    "rgba(153, 40, 255, 1)",
                                    "rgba(255, 159, 64, 1)",
                                ],
                                borderColor: [
                                    "rgba(40, 100, 255, 1)",
                                    "rgba(255, 99, 132, 1)",
                                    "rgba(255, 206, 86, 1)",
                                    "rgba(75, 192, 192, 1)",
                                    "rgba(153, 102, 255, 1)",
                                    "rgba(255, 159, 64, 1)",
                                ],
                                borderWidth: 1,
                            },
                        ],
                    },
                    options: {
                        scales: {
                            y: {
                                title: {
                                    color: 'black',
                                    display: true,
                                    text: 'amount'
                                },
                                beginAtZero: true,
                            },
                            x: {
                                title: {
                                    color: 'black',
                                    display: true,
                                    text: 'month'
                                },
                                beginAtZero: true,
                            },
                        },
                    },
                });
                const ctxxx = document.getElementById("myChart5").getContext("2d");
                const myChart5 = new Chart(ctxxx, {
                    type: "bar",
                    data: {
                        labels: chartDatas.year,
                        datasets: [
                            {
                                label: "Yearly Sales Report",
                                data: chartDatas.yearlyAmount,
                                backgroundColor: [
                                    "rgba(255, 30, 100, 1)",
                                    "rgba(54, 100, 235, 1)",
                                    "rgba(255, 106, 86, 1)",
                                    "rgba(0, 192, 192, 1)",
                                    "rgba(153, 40, 255, 1)",
                                    "rgba(255, 159, 64, 1)",
                                ],
                                borderColor: [
                                    "rgba(40, 100, 255, 1)",
                                    "rgba(255, 99, 132, 1)",
                                    "rgba(255, 206, 86, 1)",
                                    "rgba(75, 192, 192, 1)",
                                    "rgba(153, 102, 255, 1)",
                                    "rgba(255, 159, 64, 1)",
                                ],
                                borderWidth: 1,
                            },
                        ],
                    },
                    options: {
                        scales: {
                            y: {
                                title: {
                                    color: 'black',
                                    display: true,
                                    text: 'amount'
                                },
                                beginAtZero: true,
                            },
                            x: {
                                title: {
                                    color: 'black',
                                    display: true,
                                    text: 'year'
                                },
                                beginAtZero: true,
                            },
                        },
                    },
                });
            },
        });
    })
</script> --}}


<!-- Bootstrap Dark Table -->
<div class="card mt-5 d-flex">
    <h5 style="background-color: darkseagreen;" class="card-header justify-content-center">Daily Sales</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>No Orders</th>
                    <th>Total Amount </th>
                 
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                    {{#each dailySales}}
            
                <tr>
                    <td><strong> {{_id}}  </strong></td>
                    <td> {{count}}   </td>
                    <td>  {{total}}  </td> 
                </tr>
                  {{/each}}

            </tbody>
        </table>
    </div>
</div>


<div class="card mt-5 d-flex">
    <h5 style="background-color: darkseagreen;" class="card-header justify-content-center">Weekly Sales</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>No Orders</th>
                    <th>Total Amount </th>
                 
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                    {{#each weeklySales}}
            
                <tr>
                    <td><strong> {{_id}}  </strong></td>
                    <td> {{count}}   </td>
                    <td>  {{total}}  </td> 
                </tr>
                  {{/each}}

            </tbody>
        </table>
    </div>
</div>


<div class="card mt-5 d-flex">
    <h5 style="background-color: darkseagreen;" class="card-header justify-content-center">Yearly Sales</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>No Orders</th>
                    <th>Total Amount </th>
                 
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                    {{#each YearlySales}}
            
                <tr>
                    <td><strong> {{_id}}  </strong></td>
                    <td> {{count}}   </td>
                    <td>  {{total}}  </td> 
                </tr>
                  {{/each}}

            </tbody>
        </table>
    </div>
</div>
<!--/ Bootstrap Dark Table -->