<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Bootstrap Table with Header - Dark -->

<body>
  <div class="container-xxl flex-grow-1 container-p-y">

    <div class="card">
      <h5 class="card-header"></h5>
      
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Payment Methord</th>
              <th>Amount</th>
              <th>products</th>
              <th>Status</th>
              <th>.</th>
            </tr>
          </thead>

          <tbody class="table-border-bottom-0">
            {{#each orders}}
            <tr>

              <td> {{this.date}} </td>
              <td>{{this.deliveryDetails.name}}</td>

              <td>{{this.deliveryDetails.address}}</td>
              <td>{{this.deliveryDetails.mobile}}</td>
              <td>{{this.paymentMethord}}</td>
           
              <td>{{this.totalAmount}}</td>
           <td> <a href="/admin/order-products/{{this._id}}" class="btn btn-primary">Products</a></td>

              {{!-- <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Status
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </td>
              <td><a href="/admin/cancel-product/{{this._id}}" class="text-primary">STATUS</a></td> --}}


              <td><span class="badge bg-label-primary me-1">{{this.status}}</span></td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item" onclick="deliverOrder('{{this._id}}')">Deliverd</button>
                    <button class="dropdown-item" onclick="shipOrder('{{this._id}}')">Shipped</button>
                    <button class="dropdown-item" onclick="cancelOrder('{{this._id}}')">Canceled</button>
                    <button class="dropdown-item" onclick="returnOrder('{{this._id}}')">Returned</button>
                  </div>
                </div>
              </td>




            </tr>
            {{/each}}

          </tbody>
        </table>
          </div>
  </div>
  <!--/ Bootstrap Table with Header Dark -->
</body>

<script>
  function cancelOrder(orderId) {
    alert('hiooooo')
    $.ajax({

      url: '/admin/cancel-order/' + orderId,
      method: 'get',
      success: (response) => {
        alert(response)
        if (response.status) {
          location.reload()
        }
      }
    })
  }
  function deliverOrder(orderId) {
    $.ajax({
      url: '/admin/deliver-order/' + orderId,
      method: 'get',
      success: (response) => {
        if (response.status) {
          location.reload()
        }
      }

    })

  }
  function returnOrder(orderId) {
    $.ajax({
      url: '/admin/return-order/' + orderId,
      method: 'get',
      success: (response) => {
        if (response.status) {
          location.reload()
        }
      }

    })
  }
  function shipOrder(orderId) {
    $.ajax({
      url: '/admin/ship-order/' + orderId,
      method: 'get',
      success: (response) => {
        if (response.status) {
          location.reload()
        }
      }

    })

  }

</script>