{{!--
<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Search For:</h3>
						<input type="text" placeholder="Keywords">
						<button type="submit">Search <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search area --> --}}

<!-- hero area -->
<div class="hero-area hero-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell">
						<p class="subtitle">Order yours</p>
						<h1>Delicious Seasonal Foods</h1>
						<div class="hero-btns">
							<a href="/shop" class="boxed-btn">Order Now</a>
							<a href="contact.html" class="bordered-btn">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero area -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-shipping-fast"></i>
					</div>
					<div class="content">
						<h3>Free Shipping</h3>
						<p>When order over 500 rs</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-phone-volume"></i>
					</div>
					<div class="content">
						<h3>24/7 Support</h3>
						<p>Get support all day</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="list-box d-flex justify-content-start align-items-center">
					<div class="list-icon">
						<i class="fas fa-sync"></i>
					</div>
					<div class="content">
						<h3>Refund</h3>
						<p>Get refund within 2 days!</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- end features list section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">Our</span> Products</h3>
					<p>Come and look for your Tasty and Delicious Foods</p>
				</div>
			</div>
		</div>
		<div class="product-section mt-150 mb-150">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<div class="product-filters">
							<ul>
								{{#each category}}
								<li> <a href="/showcart/{{this.categoryname}}">{{this.categoryname}} 
								{{!-- {{#if category.offer}} --}}
								<br> <span class="badge badge-success" >{{this.offer}} Rs  offer </span></a> </li>
								{{!-- {{/if}} --}}
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					{{!-- {{#each product}}
					<div class="col-md-4 d-flex">


						<div class="product ftco-animate">
							<div class="img d-flex align-items-center justify-content-center"
								style="background-image: url(/assets/images/{{this._id}});">
								<div class="desc">
									<p class="meta-prod d-flex">
										<a href="#" class="d-flex align-items-center justify-content-center"><span
												class="flaticon-shopping-bag"></span></a>
										<a href="#" class="d-flex align-items-center justify-content-center"><span
												class="flaticon-heart"></span></a>
										<a href="#" class="d-flex align-items-center justify-content-center"><span
												class="flaticon-visibility"></span></a>
									</p>
								</div>
							</div>
							<div class="text text-center">
								<span class="sale">Sale</span>
								<span class="category">{{this.catogaery}}</span>
								<h2>{{this.name}}</h2>
								<p class="mb-0"><span class="price price-sale"></span> <span class="price">
										<h2>{{this.price}}Rs</h2>
									</span></p>
							</div>
						</div>

					</div>
					{{/each}}

				</div> --}}

				<div class="row gy-4 product-lists">

					{{#each product}}

					<div class="col-lg-3 col-md-6  text-center {{this.category}} ">
						<div class="single-product-item"> 
							{{!-- {{#each ../category}}
							<span style="" class="badge badge-success" id="cart-count">{{this.offer}}</span>
							{{/each}} --}}
							<div class="product-image">
								<a href="/single-product/{{this._id}}"><img style="height: 200px; width: 305px;"
										src="/productimage/{{this.images.[0]}}" alt=""></a>
							</div>
							<h3>{{this.name}}</h3>
							<h6>{{this.category}}</h6>
							{{!-- <p class="productprice"><span>Per pice/placte <br></span> --}}
							<h3><del>{{this.pricess }}</h3></del></p>
							<span class="badge bg-label-primary me-1"> {{discountedprice}}% offer, you saved Rs {{this.saveprice}}</span>
							<p class="product-price">{{this.price }}</p>

							{{!-- <a href="/add-to-cart/{{this._id}}" "><i class=" fas fa-shopping-cart"></i> Add to
								Cart</a> --}}
							<a class="cart-btn">
								<button style="border: none; background-color: #f28123;" onclick="addToCart('{{this._id}}')"><i class="fas fa-shopping-cart"></i> Add to
									Cart</button>
							</a>		
							<a href="/add-to-wishlist/{{this._id}}">	<button style="border: none;background-color: white;"><i class="fa fa-heart"></i>	</button></a>			
						</div>
						
					</div>
					{{/each}}
				</div>


				{{!-- <div class="row">
					<div class="col-lg-4 col-md-6 text-center">
						<div class="single-product-item">
							<div class="product-image">
								<a href="/shop"><img src="assets/img/pexels-quang-nguyen-vinh-2144112.jpg" alt=""></a>
							</div>
							<h3>White Forest</h3>
							<p class="product-price"><span>one Quantity</span> 100rs </p>

						</div>
					</div>
					<div class="col-lg-4 col-md-6 text-center">
						<div class="single-product-item">
							<div class="product-image">
								<a href="/shop"><img src="assets/img/pexels-mumtahina-tanni-6260921.jpg" alt=""></a>
							</div>
							<h3>Biriyani</h3>
							<p class="product-price"><span>one Quantity</span> 250 rs </p>

						</div>
					</div>
					<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
						<div class="single-product-item">
							<div class="product-image">
								<a href="/shop"><img src="assets/img/pexels-engin-akyurt-1437267.jpg" alt=""></a>
							</div>
							<h3>Pasta </h3>
							<p class="product-price"><span>one Quantity</span> 190rs </p>

						</div>
					</div>
				</div>
			</div>
		</div> --}}
		<!-- end product section -->

		<!-- cart banner section -->

		<section class="cart-banner pt-100 pb-100">
			<div class="container">
				<div class="row clearfix">
					<!--Image Column-->
					<div class="image-column col-lg-6">
						<div class="image">
							<div class="price-box">
								<div class="inner-price">
									<span class="price">
										<strong>30%</strong> <br> off per kg
									</span>
								</div>
							</div>
							<img src="assets/img/banner1.jpg" alt="">
						</div>
					</div>
					<!--Content Column-->
					<div class="content-column col-lg-6">
						<h3><span class="orange-text">Deal</span> of the month</h3>
						<h4>Deserts | Drinks | Ice Cream </h4>
						<div class="text">
							<h5> Deserts, Drinks, Ice Creams all will be now 30% offer. So dont wait for a better offer.
							</h5>
							<!--Countdown Timer-->
							<div class="time-counter">
								<div class="time-countdown clearfix" data-countdown="2023/2/01">
									<div class="counter-column">
										<div class="inner"><span class="count">00</span>Days</div>
									</div>
									<div class="counter-column">
										<div class="inner"><span class="count">00</span>Hours</div>
									</div>
									<div class="counter-column">
										<div class="inner"><span class="count">00</span>Mins</div>
									</div>
									<div class="counter-column">
										<div class="inner"><span class="count">00</span>Secs</div>
									</div>
								</div>
							</div>
							<a href="" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Shop Now</a>
						</div>
					</div>
				</div>
		</section>
		<!-- end cart banner section -->

		<!-- testimonail-section -->
		<div class="testimonail-section mt-150 mb-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="testimonial-sliders">
							<div class="single-testimonial-slider">
								<div class="client-avater">
									<img src="assets/img/avaters/avatar1.png" alt="">
								</div>
								<div class="client-meta">
									<h3>Saira Hakim <span>Local shop owner</span></h3>
									<p class="testimonial-body">
										" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto
										beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde
										omnis iste natus error sit voluptatem accusantium "
									</p>
									<div class="last-icon">
										<i class="fas fa-quote-right"></i>
									</div>
								</div>
							</div>
							<div class="single-testimonial-slider">
								<div class="client-avater">
									<img src="assets/img/avaters/avatar2.png" alt="">
								</div>
								<div class="client-meta">
									<h3>David Niph <span>Local shop owner</span></h3>
									<p class="testimonial-body">
										" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto
										beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde
										omnis iste natus error sit voluptatem accusantium "
									</p>
									<div class="last-icon">
										<i class="fas fa-quote-right"></i>
									</div>
								</div>
							</div>
							<div class="single-testimonial-slider">
								<div class="client-avater">
									<img src="assets/img/avaters/avatar3.png" alt="">
								</div>
								<div class="client-meta">
									<h3>Jacob Sikim <span>Local shop owner</span></h3>
									<p class="testimonial-body">
										" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto
										beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde
										omnis iste natus error sit voluptatem accusantium "
									</p>
									<div class="last-icon">
										<i class="fas fa-quote-right"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end testimonail-section -->

		<!-- advertisement section -->
		<div class="abt-section mb-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="abt-bg">
							<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ"
								class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="abt-text">
							<p class="top-sub">Since Year 1999</p>
							<h2>We are <span class="orange-text">SPARTA </span></h2>
							<p>Etiam vulputate ut augue vel sodales. In sollicitudin neque et massa porttitor vestibulum
								ac vel nisi. Vestibulum placerat eget dolor sit amet posuere. In ut dolor aliquet,
								aliquet sapien sed, interdum velit. Nam eu molestie lorem.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente facilis illo repellat
								veritatis minus, et labore minima mollitia qui ducimus.</p>
							<a href="about.html" class="boxed-btn mt-4">know more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end advertisement section -->

		<!-- shop banner -->
		<section class="shop-banner">
			<div class="container">
				<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
				<div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
				<a href="/shop" class="cart-btn btn-lg">Shop Now</a>
			</div>
		</section>
		<!-- end shop banner -->

		<!-- latest news -->
		<div class="latest-news pt-150 pb-150">
			<div class="container">

				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="section-title">
							<h3><span class="orange-text">Our</span> News</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque
								eveniet beatae optio.</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-latest-news">
							<a href="single-news.html">
								<div class="latest-news-bg news-bg-1"></div>
							</a>
							<div class="news-text-box">
								<h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
								<p class="blog-meta">
									<span class="author"><i class="fas fa-user"></i> Admin</span>
									<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
								</p>
								<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi.
									Praesent vitae mattis nunc, egestas viverra eros.</p>
								<a href="single-news.html" class="read-more-btn">read more <i
										class="fas fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-latest-news">
							<a href="single-news.html">
								<div class="latest-news-bg news-bg-2"></div>
							</a>
							<div class="news-text-box">
								<h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
								<p class="blog-meta">
									<span class="author"><i class="fas fa-user"></i> Admin</span>
									<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
								</p>
								<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi.
									Praesent vitae mattis nunc, egestas viverra eros.</p>
								<a href="single-news.html" class="read-more-btn">read more <i
										class="fas fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
						<div class="single-latest-news">
							<a href="single-news.html">
								<div class="latest-news-bg news-bg-3"></div>
							</a>
							<div class="news-text-box">
								<h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
								<p class="blog-meta">
									<span class="author"><i class="fas fa-user"></i> Admin</span>
									<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
								</p>
								<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi.
									Praesent vitae mattis nunc, egestas viverra eros.</p>
								<a href="single-news.html" class="read-more-btn">read more <i
										class="fas fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<a href="news.html" class="boxed-btn">More News</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end latest news -->

		<!-- logo carousel -->
		<div class="logo-carousel-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="logo-carousel-inner">
							<div class="single-logo-item">
								<img src="assets/img/company-logos/1.png" alt="">
							</div>
							<div class="single-logo-item">
								<img src="assets/img/company-logos/2.png" alt="">
							</div>
							<div class="single-logo-item">
								<img src="assets/img/company-logos/3.png" alt="">
							</div>
							<div class="single-logo-item">
								<img src="assets/img/company-logos/4.png" alt="">
							</div>
							<div class="single-logo-item">
								<img src="assets/img/company-logos/5.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end logo carousel -->
		<!-- footer -->
		<div class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="footer-box about-widget">
							<h2 class="widget-title">About us</h2>
							<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem
								accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box get-in-touch">
							<h2 class="widget-title">Get in Touch</h2>
							<ul>
								<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
								<li>support@fruitkha.com</li>
								<li>+00 111 222 3333</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box pages">
							<h2 class="widget-title">Pages</h2>
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/shop">Shop</a></li>
								<li><a href="">News</a></li>
								<li><a href="">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box subscribe">
							<h2 class="widget-title">Subscribe</h2>
							<p>Subscribe to our mailing list to get the latest updates.</p>
							<form action="">
								<input type="email" placeholder="Email">
								<button type="submit"><i class="fas fa-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end footer -->
		<!-- copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<p>Copyrights &copy; 2019 - <a href="">Imran Hossain</a>, All Rights Reserved.<br>
							Distributed By - <a href="">Themewagon</a>
						</p>
					</div>
					{{!-- <div class="col-lg-6 text-right col-md-12">
						<div class="social-icons">
							<ul>
								<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							</ul>
						</div>
					</div> --}}
				</div>
			</div>
		</div>
		<!-- end copyright -->


		