<script src="https://ajax.googleapis.com/ajax/libs/jquery.min.js">  </script>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Tasty and sweety</p>
                    <h1>Cart</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">

                            <tr class="table-head-row">
                                {{#if product}}
                                <th class="product-remove"></th>
                                <th class="product-image">Product Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-quantity">Product total</th>
                                {{else}}
                                <th class="product-quantity"></th>
                                {{/if}}

                            </tr>
                        </thead>
                        <tbody>
                            {{#if product}}
                            {{#each singleProAmount}}
                            <div id='single'>
                                <tr class="table-body-row ">

                                    <td class="product-remove"><button style="border: none;"> <i
                                                class="far fa-window-close"
                                                onclick="removeproduct('{{this._id}}','{{this.item}}')"> </i></button>
                                    </td>
                                    <td class="product-image"><img src="/productimage/{{this.product.images.[0]}}"
                                            alt="">
                                    </td>
                                    <td class="product-name">{{this.product.name}}</td>
                                    <td class="product-price">{{this.product.price}}</td>


                                    {{!-- <td> <button></button> class="product-quantity"><input type="number"
                                            placeholder="{{this.quantity}}" </td> --}}
                                    <td><button class="cart-item-count mr-3"
                                            onclick="incQuantity('{{this._id}}','{{this.item}}','{{../user}}','{{this.product.name}}','{{this.product.price}}',-1)"
                                            style="border:none ;">-</button>
                                        <span id="{{this.item}}"> {{this.quantity}} </span> &nbsp

                                        <button class="cart-item-count mr-3"
                                            onclick="incQuantity('{{this._id}}','{{this.item}}','{{../user}}','{{this.product.name}}','{{this.product.price}}',1)"
                                            style="border: none;"> +</button>
                                    </td>
                                    <td class="product-price"><span id="{{this.product.name}}"> {{this.total}} </span>
                                    </td>

                                    {{/each}}
                                    {{else}}

                                    <td>
                                        <p class="text-danger">THE CART IS EMPTY <br> ADD PRODUCTS </p>
                                    </td>

                                    {{/if}}

                                </tr>

                            </div>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Product Total: </strong></td>
                                <td><span id="total">{{totalamount}}</span> Rs</td>
                            </tr>
                            {{!-- <tr class="total-data">
                                <td><strong>Delivery charge: </strong></td>
                                <td>45 Rs</td>
                            </tr> --}}
                            <div hidden>
                                {{offer}}
                            </div>
                            {{#if offers}}
                            <tr class="total-data">
                                <td><strong> Coupon discount</strong></td>
                                <td id="coupondiscount"><i class="fa-solid fa-indian-rupee-sign"></i> {{offers}} Rs</td>

                            </tr>
                            {{/if}}


                            <tr class="total-data">
                                <td><strong>Sub Total: </strong></td>
                                <td> <span id="subtotal">{{subtotal}} Rs </span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="cart-buttons">
                        {{#if product}}
                        <a href="/check-out" class="boxed-btn black" data-toggle="modal"
                            data-target="#exampleModalB">Check Out</a>
                        {{!-- <a><button type="button" class="btn btn-primary btn-block text-uppercase mb-3"
                                data-toggle="modal" data-target="#exampleModalB">
                                SELECT ADDRESS
                            </button></a> --}}
                        {{/if}}

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalB" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Select Address</h5>
                                        <a href="/add-address" class="boxed-btn black">Add Address</a>

                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"></button>
                                        <span aria-hidden="true">&times;</span>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/alladdress" method="post">
                                            {{#each address.address}}
                                            <div class="form-check">
                                                <label class="radio-inline ">
                                                    <input type="radio" name="index" value="{{@index}}">
                                                    {{name}} <br> {{email}} <br> {{address}}<br>{{pincode}}
                                                    <br>{{city}}<br>{{phone}}
                                                </label>

                                            </div>
                                            {{/each}}

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Check Out</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                {{#if product}}
                <div class="coupon-section">
                    <h3>Apply Coupon</h3>
                    <div class="coupon-form-wrap">
                        <form id="applycoupon">
                            <span class="text-danger" id="couponError"> </span>
                            <input type="text" name="name" id="name" placeholder="Coupon" class="form-control">
                            <span id="emails" class="text-danger"></span>

                            {{!-- <p><input type="submit" value="Apply"></p> --}}
                            <input type="submit" onclick="return validation()" name="submit"
                                class="btn btn-info btn-md mt-3" value="Apply">

                        </form>

                    </div>
                </div>
                {{/if}}

            </div>

        </div>

    </div>
</div>
<!-- end cart -->


<script>

    $('#applycoupon').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/coupons',

            method: 'post',
            data: $('#applycoupon').serialize(),

            success: (response) => {
                alert(response.status)
                if (response.status) {
                    //		alert(response.status)
                    location.reload()
                } else {

                    document.getElementById("couponError").innerHTML = "Coupon don't not Exists"
                }
            }

        })
    })





</script>