<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p></p>
					<h1>Check Out Product</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="checkout-accordion-wrap">
					<div class="accordion" id="accordionExample">
						<div class="card single-accordion">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link" type="button" data-toggle="collapse"
										data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Billing Address
									</button>
								</h5>
							</div>


							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordionExample">
								<div class="card-body">
									<div class="billing-address-form">
										<form  id="checkout">
											<p><a class="btn btn-primary py-3 px-4 mr-4">Add New Address </a>
											</p>

											<h3 class="mb-4 billing-heading">Billing Details</h3>
											<div class="row align-items-end">
												<div class="col-md-6">
													<div class="form-group">
														<label for="firstname">Name</label>
														<input type="text" id="name" onkeyup="validateName()"
															name="name" class="form-control"
															value="{{userData.address.[0].name}}">
														<span id="name" class="text-danger"></span>
													</div>
												</div>


												<div class="w-100"></div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="streetaddress">Address</label>
														<input type="text" id="address" onkeyup="validateName()"
															name="address" class="form-control"
															value="{{userData.address.[0].address}}">
														<span id="name" class="text-danger"></span>
													</div>
												</div>


												<div class="col-md-6">
													<div class="form-group">
														<label for="phone">Pincode</label>
														<input type="Number" id="pincode" onkeyup="validPhoneumber()"
															name="pincode" class="form-control"
															value="{{userData.address.[0].pincode}}">
														<span id="phonenumbers" class="text-danger"></span>
													</div>
												</div>
												<div class="w-100"></div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="phone">Phone</label>
														<input type="text" id="phonenumbers" onkeyup="validPhoneumber()"
															name="number" class="form-control"
															value="{{userData.address.[0].phone}}">
														<span id="phonenumbers" class="text-danger"></span>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="emailaddress">Email</label>
														<input type="text" id="email" onkeyup="validEmail()"
															name="email" class="form-control"
															value="{{userData.address.[0].email}}">
														<span id="email" class="text-danger"></span>
													</div>
												</div>
												<input type="text" name="userId" id="" value="{{userData._id}}" hidden>
												<input type="text" name="username" id="" value="{{userData.name}}"
													hidden>

												<div class="Payment">
													<p class="mt-4 my-3">Payment method</p>
													<label class="radio-inline">
														<input type="radio" name="payment-method" value="COD"
															checked>COD
													</label>
												</div>
												<div class="form-check">
													<label class="radio-inline ">
														<input type="radio" name="payment-method" value="Razorpay">Razorpay
													</label>
													
												</div>
												<div class="form-check">
													<label class="radio-inline ">
														<input type="radio" name="payment-method" value="paypal">PayPal
														Payment
													</label>
												</div>
												
											</div>
											<button style="border: none; background-color: white;"><a class="btn btn-primary float-right boxed-btn" type="submit">Place
													Order</a></button>

										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="card single-accordion">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
										data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Shipping Address
									</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
								data-parent="#accordionExample">
								<div class="card-body">
									<div class="shipping-address-form">
										<p>Your shipping address form is here.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="card single-accordion">
							<div class="card-header" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
										data-target="#collapseThree" aria-expanded="false"
										aria-controls="collapseThree">
										Card Details
									</button>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordionExample">
								<div class="card-body">
									<div class="card-details">
										<p>Your card details goes here.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-4">
				<div class="order-details-wrap">
					<table class="order-details">
						<thead>
							<tr>
								<th>Your order Details</th>
								<th>Price</th>
							</tr>
						</thead>

						<tbody class="checkout-details">
							<tr>
								<td>Products Total</td>
								<td>{{totalamount}} Rs</td>
							</tr>
							{{!-- <tr>
								<td>Delivery charge</td>
								<td>45 Rs</td>
							</tr> --}}
							<tr>
								{{#if offers}}
                            <tr class="total-data">
                                <td><strong> Coupon discount </strong></td>
                                <td id="coupondiscount"><i class="fa-solid fa-indian-rupee-sign"></i> {{offers}} Rs</td>

                            </tr>
                            {{/if}}
							{{#if referal }}
                            <tr class="total-data">
                                <td><strong>Referral Offer </strong></td>
                                <td id="referral"><i class="fa-solid fa-indian-rupee-sign"></i> 50 Rs
                                </td>

                            </tr>
                            {{/if}}

							</tr>
							<tr>
								<td>Sub Total</td>
								<td>{{subtotal}} Rs</td>
							</tr>
						</tbody>

					</table>
					<div>
            <div class="coupon-section">
                    <h3>Referral Code</h3>
                    <div class="coupon-form-wrap">
                        <form id="referalcode">
                            <span class="text-danger" id="referalError"> </span>
                            <input type="text" name="referal" id="referal" placeholder="Referral Code"
                                class="form-control">

                            {{!-- <p><input type="submit" value="Apply"></p> --}}
                            <input type="submit" onclick="return validation()" name="submit"
                                class="btn btn-info btn-md mt-3" value="Apply">

                        </form>

                    </div>
                </div> 	


					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end check out section -->



<script>

      
    $('#referalcode').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/referal',

            method: 'post',
            data: $('#referalcode').serialize(),

            success: (response) => {
                alert(response)
                if (response) {
                    //		alert(response.status)
                    location.reload()
                } else {

                    document.getElementById("referalError").innerHTML = "Referal Code dose not Exists"
                }
            }

        })
    })

 




	$('#checkout').submit((e) => {
		e.preventDefault()
		$.ajax({
			url: '/check-out',

			method: 'post',
			data: $('#checkout').serialize(),

			success: (response) => {

				if (response.status) {
					alert("codSuccess")
					location.href = "/payment-success"
				} else if(response.status==false) {
					alert('razorpay')		
			
					razorpayPayment(response)
				}else{
					 for(let i = 0;i < response.links.length;i++){
                      if(response.links[i].rel === 'approval_url'){
                         location.href=response.links[i].href
                       }
                     }
				}
			}

		})
	})

	function razorpayPayment(order) {
		var options = {
			"key": "rzp_test_LzENomul3uevEZ", // Enter the Key ID generated from the Dashboard
			"amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
			"currency": "INR",
			"name": "Sparta Teverna",
			"description": "Test Transaction",
			"image": "https://example.com/your_logo",
			"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
			"handler": function (response) {
				
				//returning to server


				verifyPayment(response,order)
			},
			"prefill": {
				"name": "Gaurav Kumar",
				"email": "gaurav.kumar@example.com",
				"contact": "9999999999"
			},
			"notes": {
				"address": "Razorpay Corporate Office"
			},
		 	"theme": {
				"color": "#3399cc"
			}

		};
		var rzp1 = new Razorpay(options);
		rzp1.open();

	}
	function verifyPayment(payment,order){
		alert('ok')
	$.ajax({

		url:'/verify-payment',
		data:{
			payment, 
			order
		},
		method:'post',
		success:(response)=>{
			if(response.status){
				location.href = "/payment-success"
			}else{
				alert("payment failed")
			}
		}
	})
	}
</script>