<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Search For:</h3>
						<input type="text" placeholder="Keywords">
						<button type="submit">Search <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>See more Details</p>
					<h1>Single Product</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="single-product-img d-flex" id="img-container">

					<div id="lens"></div>
					<img id="featured" width="500" src="/productimage/{{product.images.[0]}}" alt="">

				</div>
			</div>



			{{!-- <div class="s_Product_carousel">
				<div id="img-container" class="">
					<img id=featured width="350px" src="/proimg/{{product._id}}.jpg">
					<div id="lens"></div>
				</div>
				<div class="single-prd-item">
					<img class="img-fluid" style="width:30rem;" src="/proimg/{{product._id}}.jpg" alt="">
				</div>
			</div> --}}





			<div class="col-md-4">

				<div class="single-product-content">
					<h3>{{product.name}}</h3>
					<p class="single-product-pricing"><span>Per </span>{{product.price}}</p>
					<p>{{product.discription}}</p>
					<div class="single-product-form">
						<form action="index.html">
							<input type="number" placeholder="0">
						</form>
						<a class="cart-btn">
								<button style="border: none; background-color: #f28123;" onclick="addToCart('{{product._id}}')"><i class="fas fa-shopping-cart"></i> Add to
									Cart</button>
							</a>
						<p><strong>Categories: </strong>{{product.category}}</p>
					</div>
					<h4>Share:</h4>
					<ul class="product-share">
						<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href=""><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end single product -->

<!-- more products -->
{{!-- <div class="more-products mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">Related</span> Products</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet
						beatae optio.</p>
				</div>
			</div>
		</div>
		<div class="row">
			{{#each product}}
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href=""><img src="/productimage/{{product._id}}" alt=""></a>
					</div>
					<h3>{{pr}}</h3>
					<p class="product-price"><span>Per Kg</span> 85$ </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- end more products --> --}}
<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
						<li>support@fruitkha.com</li>
						<li>+00 111 222 3333</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/shop">Shop</a></li>
						<li><a href="">News</a></li>
						<li><a href="">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->
<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>Copyrights &copy; 2019 - <a href="">Imran Hossain</a>, All Rights Reserved.<br>
					Distributed By - <a href="">Themewagon</a>
				</p>
			</div>
			{{!-- <div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div> --}}
		</div>
	</div>
</div>
<!-- end copyright -->

<script src="/javascripts/lens.js"></script>


<style>
	#img-container{
	/* z-index: 1; */
	max-width: 850px;
	position: relative;
}

#lens{
	/* z-index: 2;
	position: absolute; */
    margin-left: 20px;
	height: 250px;
	width: 250px;
	
	background-repeat: no-repeat;
	cursor: none;

}
#featured{
	max-width: 500px;
	max-height: 600px;

	cursor: pointer;
	

}
</style>


{{!-- <style>
	.single-product-img {
		overflow: hidden;
	}

	.single-product-img img {
		transition: all 1.5s ease;
	}

	.single-product-img:hover img {
		transform: scale(1.5);
	}
</style> --}}

<script>

document.getElementById('img-container').addEventListener('mouseover', function(){
    imageZoom('featured')
    
})

function imageZoom(imgID){
	let img = document.getElementById(imgID)
	let lens = document.getElementById('lens')

	lens.style.backgroundImage = `url( ${img.src} )`

	let ratio = 1

	lens.style.backgroundSize = (img.width * ratio) + 'px ' + (img.height * ratio) + 'px';

	img.addEventListener("mousemove", moveLens)
	lens.addEventListener("mousemove", moveLens)
	img.addEventListener("touchmove", moveLens)

	function moveLens(){
		/*
        Function sets sets position of lens over image and background image of lens
        1 - Get cursor position
        2 - Set top and left position using cursor position - lens width & height / 2
        3 - Set lens top/left positions based on cursor results
        4 - Set lens background position & invert
        5 - Set lens bounds
    
        */

        //1
		let pos = getCursor()
		console.log('pos:', pos)

		//2
		let positionLeft = pos.x - (lens.offsetWidth / 4)
		let positionTop = pos.y - (lens.offsetHeight / 2)

		//5
		if(positionLeft < 0 ){
			positionLeft = 0
		}

		if(positionTop < 0 ){
			positionTop = 0
		}

		// if(positionTop >155){
		// 	positionTop =155
		// }

		if(positionLeft > img.width - lens.offsetWidth /3 ){
			positionLeft = (img.width - lens.offsetWidth /3)
		}

		if(positionTop > img.height - lens.offsetHeight /3 ){
			positionTop = (img.height - lens.offsetHeight /3)
		}


		//3
		lens.style.left = positionLeft + 'px';
		lens.style.top = positionTop + 'px';

		//4
		lens.style.backgroundPosition = "-" + (pos.x * ratio) + 'px -' +  (pos.y * ratio) + 'px'
	}

	function getCursor(){
		/* Function gets position of mouse in dom and bounds
         of image to know where mouse is over image when moved
        
        1 - set "e" to window events
        2 - Get bounds of image
        3 - set x to position of mouse on image using pageX/pageY - bounds.left/bounds.top
        4- Return x and y coordinates for mouse position on image
        
         */

        let e = window.event
        let bounds = img.getBoundingClientRect()

        //console.log('e:', e)
        //console.log('bounds:', bounds)
        let x = e.pageX - bounds.left
		let y = e.pageY - bounds.top
		x = x - window.pageXOffset;
		y = y - window.pageYOffset;
		
		
		return {'x':x, 'y':y}
	}

}

imageZoom('featured')
</script>